*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# open-tpl compiled files
*/tmp/*.otpl

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/license.txt
/libs/
/data/tmp/
/mana/nbproject/private/
/mana/build/
/mana/dist/
/mano.wrt/nbproject/private/
/mano.wrt/build/
/mano.wrt/dist/
/mano.server/nbproject/private/
/mano.server/build/
/mano.server/dist/
/mano.otpl/nbproject/private/
/mano.otpl/build/
/mano.otpl/dist/
/testapp/nbproject/private/
/testapp/build/
/testapp/dist/
/mano.libprovides/nbproject/private/
/mano.libprovides/build/
/mano.libprovides/dist/