<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <server basedir="~/server">
        <dependency>
            <!--<path value="E:\repositories\java\mano\mano.server\dist"/>
            <path value="E:\repositories\java\mano\mano.server\dist\lib\mano.wrt.jar"/>-->
        </dependency>
        <logger provider="class:mano.util.logging.CansoleLogProvider">
            <params>
                <param name="log:level">ALL</param>
                <param name="log:file">~/logs/{yyyyMMdd}.log</param>
            </params>
        </logger>
        <services>
            <service name="cache.service" class="mano.caching.CacheService"></service>
            <service name="http.service" class="mano.http.HttpService">
                <params>
                    <param name="config:file">~/conf/server.xml</param>
                    <param name="connection:http:address">0.0.0.0:9999</param>
                    <param name="connection:http:disabled">false</param>

                    <param name="connection:https:address">0.0.0.0:443</param>
                    <param name="connection:https:disabled">true</param>
                    <param name="connection:https:ssl">true</param>
                    <param name="connection:https:ssl_cert">path</param>
                </params>
            </service>
        </services>
    </server>
    
    
    <!-- xmlns="http://mano.diosay.com/schemes/server.xsd"
    xmlns:pkg="http://mano.diosay.com/schemes/package.xsd" 
    xmlns:app="http://mano.diosay.com/schemes/web-application.xsd"-->
        
	
    <http.service bufferBucketSize="128" transferBufferSize="512b" minBufferSize="4k" maxBufferSize="64k" maxConnections="1000" threadPoolSize="1000">
        <machine>
            <dependency>
                
            </dependency>
            <request disabledEntityBody="false" maxEntityBodySize="4m" controller="home" action="index">
                <document>
                    <add value="index.html"/>
                </document>
                <ignored>
                    <add value="/logs/"/>
                    <add value="/config/"/>
                    <add value="/bin/"/>
                    <add value="/data/"/>
                </ignored>
            </request>
            
            <modules>
                <add name="static_file_module" class="mano.web.StaticFileModule">
                    <params>
                        <!--http://www.w3school.com.cn/media/media_mimeref.asp-->
                        <param name="ext:html">text/html</param>
                        <param name="ext:htm">text/html</param>
                        <param name="ext:text">text/plain</param>
                        <param name="ext:css">text/css</param>
                        <param name="ext:js">application/x-javascript</param>
                        <param name="ext:jpg">image/jpeg</param>
                        <param name="ext:png">image/png</param>
                        <param name="ext:mp4">video/mp4</param>
                        <param name="ext:rar">application/octet-stream</param>
                        <param name="fcgi:server1:pass">192.168.1.10:9000</param>
                        <param name="fcgi:server1:weight">1</param>
                    </params>
                </add>
                <add name="url_route_module" class="mano.web.UrlRouteModule">
                    <params>
                        <param name="viewengine">mano.otpl.OtplViewEngine</param>
                    </params>
                </add>
            </modules>
        </machine>
        
        <web.applications>
            <!--<include path="xxx/web.xml"/>-->
            <application name="default application" host="*:9999" rootdir="~/wwwroot" vpath="/" class="mano.web.WebApplication">
                <startup>
                    <path value="~/bin/ext/drivers"/>
                    <path value="~/bin/ext/hibernate-release-4.3.5.Final/required"/>
                    <path value="~/bin/ext/hibernate-release-4.3.5.Final/jpa"/>
                    <path value="~/bin/ext/json"/>
                    <add>
                        <path uri=""/>
                        <export name="mano.util.json.JsonConvert" class="mano.json.GsonConverter"/>
                    </add>
                </startup>
                <settings>
                    <add key="db:driver:myconn" value="mysql"/>
                    <add key="db:strings:myconn" value="jdbc:mysql://localhost/myDB"/>
                </settings>
                <!--日志：server/service/app-->
                <logging enable="true" logger="service:logging.service|class:gggg.hhh.xx">
                    <level value="100" path="~/log/{yyyyMMdd}.log"/>;
                </logging>
                <!--<request.routing autoDectect="true" domain="admin" controller="home" action="index">
                    <controller name="packge.jar" domain=""/>
                </request.routing>-->
            </application>
        </web.applications>
        
    </http.service>
    
    
</configuration>