<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <services>
        <service name="cache.service" type="mano.caching.CacheService,mano.wrt"></service>
        <service name="http.service" type="mano.http.HttpService,mano.wrt">
            <params>
                <param name="config:file">./config.xml</param>
                
                <param name="connection:http:address">0.0.0.0:9999</param>
                <param name="connection:http:disabled">false</param>
                
                <param name="connection:https:address">0.0.0.0:443</param>
                <param name="connection:https:disabled">true</param>
                <param name="connection:https:ssl">true</param>
                <param name="connection:https:ssl_cert">path</param>
            </params>
        </service>
        <!--<service name="message.service" type="..."></service>-->
    </services>
	
    <http.service transferBufferSize="512b" minBufferSize="4k" maxBufferSize="64k" maxConnections="1000" threadPoolSize="1000">
        <machine>
            <request disabledEntityBody="true" maxEntityBodySize="40m" maxPostFileSize="4m">
                <document>
                    <add value="index.mvc"/>
                    <add value="index.html"/>
                </document>
                <ignored>
                    <add vpath="/bin/"/>
                    <add vpath="/data/"/>
                </ignored>
            </request>
            <routing autoDectect="true" controller="home" action="index">
                <!--<controller name="packge.jar"/>-->
            </routing>
            <modules>
                <add name="static_file_module" type="mano.web.StaticFileModule,mano.wrt">
                    <params>
                        <!--http://www.w3school.com.cn/media/media_mimeref.asp-->
                        <param name="ext:html">text/html</param>
                        <param name="ext:htm">text/html</param>
                        <param name="ext:jpg">image/jpeg</param>
                        <param name="fcgi:server1:pass">192.168.1.10:9000</param>
                        <param name="fcgi:server1:weight">1</param>
                    </params>
                </add>
                <add name="url_route_module" type="mano.web.UrlRouteModule,mano.wrt">
                    <params>
                        <param name="viewengine">mano.otpl.OtplViewEngine,mano.otpl</param>
                    </params>
                </add>
            </modules>
        </machine>
        
        <web.applications>
            <!--<include path="xxx/web.xml"/>-->
            <application name="default application" host="*:9999" path="/server/wwwroot" vpath="/user" type="mano.web.WebApplication,mano">
                <settings>
                    <add key="db:driver:myconn" value="mysql"/>
                    <add key="db:strings:myconn" value="jdbc:mysql://localhost/myDB"/>
                </settings>
                <!--<request.routing autoDectect="true" domain="admin" controller="home" action="index">
                    <controller name="packge.jar" domain=""/>
                </request.routing>-->
            </application>
        </web.applications>
        
    </http.service>
</configuration>