<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <server>
        <settings>
            <property name="server.dir">E:\repositories\java\mano\mano-server-projects\mano-server\target\build</property>
            <property name="logging.path">{server.dir}/logs</property>
        </settings>
        <!--<dependency>
            <path value="lib"/>
        </dependency>-->
        <logger name="root">
            <handler class="mano.util.logging.ConsoleHandler"/>
        </logger>
        <services>
            <service name="cache.service" class="mano.caching.CacheService"></service>
            <service name="http.service" class="mano.http.HttpService">
                <property name="config_file">{server.dir}/conf/server.xml</property>
                <property name="buffer_size">4k</property>
                <property name="max_connections">1024</property>
                <property name="webapp.config_path">{server.dir}/conf/apps</property>
                <property name="connection:http:address">0.0.0.0:9999</property>
                <property name="connection:http:disabled">false</property>
            </service>
        </services>
    </server>
    
    
    <!-- xmlns="http://mano.diosay.com/schemes/server.xsd"
    xmlns:pkg="http://mano.diosay.com/schemes/package.xsd" 
    xmlns:app="http://mano.diosay.com/schemes/web-application.xsd"-->
        
	
    <http.service>
        <machine>
            <request disabledEntityBody="false" maxEntityBodySize="4m" controller="home" action="index">
                <document>
                    <add value="index.html"/>
                </document>
                <ignored>
                    <add value="/WEB-INF/"/>
                    <add value="/views/"/>
                </ignored>
            </request>
            
            <modules>
                <add name="static_file_module" class="mano.web.StaticFileModule">
                    <!--http://www.w3school.com.cn/media/media_mimeref.asp-->
                    <property name="ext:html">text/html</property>
                    <property name="ext:htm">text/html</property>
                    <property name="ext:text">text/plain</property>
                    <property name="ext:css">text/css</property>
                    <property name="ext:js">application/x-javascript</property>
                    <property name="ext:jpg">image/jpeg</property>
                    <property name="ext:png">image/png</property>
                    <property name="ext:mp4">video/mp4</property>
                    <property name="ext:rar">application/octet-stream</property>
                </add>
                
                <add name="url_route_module" class="mano.web.UrlRouteModule">
                    <property name="def.mime">text/html</property>
                    <property name="def.encoding">utf-8</property>
                    <property name="inf.dir">{app.dir}/WEB-INF</property>
                    <property name="tmp.dir">{inf.dir}/tmp</property>
                    <property name="view.dir">{app.dir}/views</property>
                    <property name="view.engine">mano.otpl.OtplViewEngine</property>
                </add>
            </modules>
        </machine>
    </http.service>
    
    
</configuration>