{{layout '/master.html'}}
<p>member property:{{obj.field}}</p>
<p>member property(auto):{{obj.oprop}}</p>
<p>member property(get):{{obj.prop}}</p>
<p>member call result:{{obj.addTest (3,20)}}</p>
<hr/>
<h2>分支:</h2>
<h3>if语句:</h3>
{{if true}}
foo
{{elif 50>18}}
bar
{{else}}
none
{{/if}}

<hr/>
<h2>循环:</h2>
<h3>for语句:</h3>
<pre>
    原形：  {for:var max,min,step}
    循环条件满足时运行。
    {else}
    循环条件不满足时运行。
    {/for}
    var：   循环变量名
    max：   循环的最大值（整数），如果max小于min，则将会使用倒序循环。
    min：   可选，默认为0。循环的最小值（整数）。
</pre>
<p>例1:</p>
{{for:i 20}}
    {{if i>9}}
        {{break}}
        不显示
    {{else}}
        {{i}}
    {{/if}}

{{else}}
    没有循环
{{/for}}

<h3>each语句:</h3>
{{each:item list}}
    {{item}}
{{else}}
    没有迭代
{{/each}}
<br>
{{literal}}
{{abc}}
{{/literal}}
<br>
end of template

{{/*}}
{{include './tpl.html'}}
{{*/}}
{{block:id}}
child's block content1
{{/block}}




